EasyNews/Service References/NewsService/NewsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://newswcfservice.apphb.com/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://newswcfservice.apphb.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://newswcfservice.apphb.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NewsWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsHandler_GetNewsFromTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsFromTable" />
  </wsdl:message>
  <wsdl:message name="INewsHandler_GetNewsFromTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsFromTableResponse" />
  </wsdl:message>
  <wsdl:message name="INewsHandler_GetNewByNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewByNumber" />
  </wsdl:message>
  <wsdl:message name="INewsHandler_GetNewByNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewByNumberResponse" />
  </wsdl:message>
  <wsdl:message name="INewsHandler_SaveNewByNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveNewByNumber" />
  </wsdl:message>
  <wsdl:message name="INewsHandler_SaveNewByNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveNewByNumberResponse" />
  </wsdl:message>
  <wsdl:message name="INewsHandler_NewsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsCount" />
  </wsdl:message>
  <wsdl:message name="INewsHandler_NewsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsCountResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsHandler">
    <wsdl:operation name="GetNewsFromTable">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsHandler/GetNewsFromTable" message="tns:INewsHandler_GetNewsFromTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsHandler/GetNewsFromTableResponse" message="tns:INewsHandler_GetNewsFromTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewByNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsHandler/GetNewByNumber" message="tns:INewsHandler_GetNewByNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsHandler/GetNewByNumberResponse" message="tns:INewsHandler_GetNewByNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNewByNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsHandler/SaveNewByNumber" message="tns:INewsHandler_SaveNewByNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsHandler/SaveNewByNumberResponse" message="tns:INewsHandler_SaveNewByNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewsCount">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsHandler/NewsCount" message="tns:INewsHandler_NewsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsHandler/NewsCountResponse" message="tns:INewsHandler_NewsCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsHandler" type="tns:INewsHandler">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewsFromTable">
      <soap:operation soapAction="http://tempuri.org/INewsHandler/GetNewsFromTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewByNumber">
      <soap:operation soapAction="http://tempuri.org/INewsHandler/GetNewByNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewByNumber">
      <soap:operation soapAction="http://tempuri.org/INewsHandler/SaveNewByNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsCount">
      <soap:operation soapAction="http://tempuri.org/INewsHandler/NewsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsService">
    <wsdl:port name="BasicHttpBinding_INewsHandler" binding="tns:BasicHttpBinding_INewsHandler">
      <soap:address location="http://newswcfservice.apphb.com/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>